# Kconfig.series - Nordic Semiconductor nRF9 MCU line
#
# Copyright (c) 2018 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: Apache-2.0
#

config  SOC_SERIES_NRF91X_MLM1
	bool "Nordic Semiconductor nRF91 MLM1 series MCU"
	select CPU_CORTEX_M4
	select CPU_HAS_MPU
	select SOC_FAMILY_NRF
	select NRF_RTC_TIMER
	select CLOCK_CONTROL
	select CLOCK_CONTROL_NRF5
	select SYS_POWER_LOW_POWER_STATE_SUPPORTED
	select SYS_POWER_DEEP_SLEEP_SUPPORTED
	select XIP
	select HAS_CMSIS
	select HAS_NRFX
	help
	 Enable support for NRF91 MLM1 MCU series
