# Kconfig.soc - Nordic Semiconductor nRF91 MCU line
#
# Copyright (c) 2018 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: Apache-2.0
#

config SOC_NRF9120_MLM1
	depends on SOC_SERIES_NRF91X_MLM1
	bool
	select CPU_HAS_FPU
	select HAS_HW_NRF_CLOCK
	select HAS_HW_NRF_EGU0
	select HAS_HW_NRF_GPIO0
	select HAS_HW_NRF_GPIOTE
	select HAS_HW_NRF_I2S
	select HAS_HW_NRF_MWU
	select HAS_HW_NRF_POWER
	select HAS_HW_NRF_PWM0
	select HAS_HW_NRF_QDEC
	select HAS_HW_NRF_RTC0
	select HAS_HW_NRF_SWI0
	select HAS_HW_NRF_TIMER0
	select HAS_HW_NRF_TIMER1
	select HAS_HW_NRF_TIMER2
	select HAS_HW_NRF_TWIM1
	select HAS_HW_NRF_TWIS1
	select HAS_HW_NRF_SPIM1
	select HAS_HW_NRF_UARTE0
	select HAS_HW_NRF_WDT

choice
prompt "nRF91x MCU Selection"
depends on SOC_SERIES_NRF91X_MLM1

config SOC_NRF9120_XXAA_MLM1
	bool "NRF9120_MLM1"
	select SOC_NRF9120_MLM1

endchoice

config ARM_MPU_NRF91X
	bool "Enable MPU on nRF91"
	depends on CPU_HAS_MPU
	select ARM_MPU
	default n
	help
	  Enable MPU support on Nordic Semiconductor nRF91x series ICs.
